
/* Definição de fontes */
@font-face{
    font-family: "Unbounded";
    src: url(/tecboard/fonts/Unbounded-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face{
    font-family: "Poppins";
    src: url(/tecboard/fonts/Poppins-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "Poppins";
    src: url(/tecboard/fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
}

/* Estilo Desktop */
body{
    background-color: #0E1014;
}

header img{
    display: block;
    margin: 75px 0 0 360px;
}

h1{
    font-family: "Unbounded", sans-serif;
    color: #F5F5F5;
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

h1 span{
    color: #9747FF;
}

p{
    font-family: "Poppins", sans-serif;
    color: #F5F5F5;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin: 24px auto 0;
    width: 792px;
}

a{
    font-family: "Poppins", sans-serif;
    color: #F5F5F5; 
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    background-color: #9747FF;
    width: 340px;
    height: 66px;
    display: block;
    text-align: center;
    line-height: 66px;
    border-radius: 36px;
    margin: 40px auto
}

a:hover{
    background-color: #8233E8;
}

section img{
    display: block;
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

/* Estilo Tablet */
@media(max-width: 768px){
    header img{
        margin: 65px 0 0 60px;
    }
    p{
        width: 648px;
    }
}

/* Estilo Celular */
@media(max-width: 375px){
    header img{
        margin: 32px 0 0 16px;
    }
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        width: 340px;
    }
    a{
        font-size: 20px;
        width: 251px;
    }
    section img{
        width: 340px;
        height: 230px;
        margin: 0 auto;
    }
}